<!DOCTYPE html>
<html>
<head>
  <title>News</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <div class="page-title">
      <h1>Postit <small>Your URLs belong to me</small></h1>
    </div>

    <%= yield %>
  </div>

</body>
</html>
